name: 'CI/CD Pipeline'

on:
  push:
    branches: [main]

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  PROJECT_NAME: ${{ vars.PROJECT_NAME }}
  TF_VERSION: '1.5.0'

jobs:
# -------------------------------------------------
# 1️⃣ Terraform Apply - Infrastructure Only
# -------------------------------------------------
  terraform_infra:
    name: 'Terraform Apply Infrastructure'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'src/infra'

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ vars.TF_BACKEND_BUCKET }}" \
            -backend-config="region=${{ vars.TF_BACKEND_REGION }}" \
            -backend-config="key=${{ vars.TF_AWS_BACKEND_KEY }}" \
            -backend-config="encrypt=true"
          terraform validate

      - name: Terraform Plan (AWS Only)
        run: terraform plan -target=module.eks
        env:
          TF_VAR_primary_region: ${{ env.AWS_REGION }}
          TF_VAR_project_name: ${{ env.PROJECT_NAME }}

      - name: Terraform Apply (AWS Only)
        run: terraform apply -auto-approve -target=module.eks
        env:
          TF_VAR_primary_region: ${{ env.AWS_REGION }}
          TF_VAR_project_name: ${{ env.PROJECT_NAME }}


# -------------------------------------------------
# 2️⃣ Python CI + Build + Push
# -------------------------------------------------
  python_ci:
    name: 'Build & Push Image'
    runs-on: ubuntu-latest
    needs: terraform_infra

    defaults:
      run:
        working-directory: 'src/app'

    outputs:
      image_tag: ${{ steps.build.outputs.image_tag }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Setup Python Environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install & Test
        run: |
          pip install -r requirements.txt
          pytest

      - name: Build & Push Docker Image
        id: build
        run: |
          SHORT_SHA=${GITHUB_SHA::7}
          AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          ECR_REGISTRY="${AWS_ACCOUNT_ID}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com"

          IMAGE_TAG="${ECR_REGISTRY}/ecr-${PROJECT_NAME}:${SHORT_SHA}"

          docker build -t $IMAGE_TAG .
          docker push $IMAGE_TAG

          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT


# -------------------------------------------------
# 3️⃣ Terraform Apply - Kubernetes Deployment
# -------------------------------------------------
  terraform_k8s:
    name: 'Terraform Apply Kubernetes'
    runs-on: ubuntu-latest
    needs: python_ci

    defaults:
      run:
        working-directory: 'src/infra'

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ vars.TF_BACKEND_BUCKET }}" \
            -backend-config="region=${{ vars.TF_BACKEND_REGION }}" \
            -backend-config="key=${{ vars.TF_AWS_BACKEND_KEY }}" \
            -backend-config="encrypt=true"
          terraform validate

      - name: Terraform Plan (Kubernetes Application)
        run: |
          terraform apply -auto-approve -target=module.kubernetes.module.secrets_csi.helm_release.aws_secrets_provider
          terraform plan
        env:
          TF_VAR_primary_region: ${{ env.AWS_REGION }}
          TF_VAR_project_name: ${{ env.PROJECT_NAME }}


      - name: Terraform Apply (Kubernetes Application)
        run: |
          terraform apply -auto-approve
        env: 
          TF_VAR_image: ${{ needs.python_ci.outputs.image_tag }}
          TF_VAR_primary_region: ${{ env.AWS_REGION }}
          TF_VAR_project_name: ${{ env.PROJECT_NAME }}
